<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Gym Memberships</title>

    <meta name="description" content="IT Developer">
    <meta name="author" content="Reece Young">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <header>
        <nav class="navbar">
            <div class="col-md-8">
                <a href="/"><h2>Gym Memberships</h2></a>
            </div>
            <div class="col-md-4">
                <p class="navbar-text navbar-right">
                    <br/>
                    {% if user.is_authenticated %}

                        <p>You are logged in as:</p>
                        <ul>
                            <li>Name: {{ user.first_name }} {{ user.last_name }}</li>
                            <li><a href="/users/add_classes/">Add new Gym Classes to your Account</a></li>
                        <h4><a href="/logout/">Logout</a></h4>
                    {% else %}
                        You need to <a href="/">login</a> or <a href="/register/">register</a>.
                    {% endif %}
                </p>
            </div>
        </nav>
    </header>
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
    <br/><br/>
    <div class="footer">
        <div class="container">
            <p class="text-muted">Copyright &copy; 2017, <a href="http://www.reeceyoung.co.uk/" target="_blank">Reece Young</a>. All rights reserved.</p>
        </div>
    </div>
</div>
</body>
</html>